body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/thumb-1920-1115574.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body.ecranprinc {
    display: flex;
    justify-content: center;
    background-image: url('../images/1.png');
    background-size: cover;
    background-attachment : fixed;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boutonentree {
    display: flex;
    justify-content: center;
    margin-top: 75vh;
}


.listeproduits {  
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius:1%;
    margin: auto;
    width: 120vh;
    padding: 3vh;
    gap: 3vh;
}

.tetedeliste {
    display: flex;
    gap: 1vh;
    font-weight: bold;
}

.corpdeliste {
    display: flex;
    flex-direction:column;
    gap: 1vh;
}

.produitliste {
    display: flex;
    gap: 1vh;
}

.itemdeliste {
    flex : 2;
}

.itemdelistebtn {
    flex: 1;
}

.detailproduit {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 2vh;
    border-radius: 7%;
    width: 70vh;
    margin: auto;
    width: 70vh;
}

img {
    max-height: 40vh;

}
.imgproduit {
    display: flex;
    justify-content: center;
}
.containeurcategorie {
    display:flex;
    justify-content: center;
}
.listecategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3vh;
    width: 300vh;
    padding: 5vh;
    margin-top: 10vh;
}

.categorieliste {
    transition: transform 0.3s ease-in-out;
    display: flex;
    width: 30vh;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 100%;
    font-size: 3vh;
    text-decoration: none;
    font-weight: bold;
}
.categorieliste:hover {
    transform: scale(1.2); 
}
a {
    text-decoration: none;
    color:black;
}