@{
    ViewData["Title"] = "FabMarket";
    ViewBag.BodyClass = "ecranprinc";
 }
 <div class="boutonentree">
    <a class="btn btn-outline-light btn-lg" asp-controller="Category" asp-action="Index">Entrer dans le Magasin Virtuel</a>
</div>

