@{
    ViewData["Title"] = "FabMarket";
    ViewBag.BodyClass = "ecranprinc";
 }

<div id="ecranprinc" class="d-flex flex-column align-items-center" style="height: 90vh">
    <div style="height: 77vh"></div>
    <a class="btn btn-outline-light btn-lg" asp-controller="Product" asp-action="Index">Entrer dans le Magasin Virtuel</a>
</div>
